/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    border-color: #01d8da;
}
/* Title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #fff;
}

.m-t-100 {
    margin-top: 100px;
}